@media (max-width: 768px) {
  .logo_cradsp {
    width: 80%;
  }
}

header .jumbotron {
  background-image: url(/img/saopaulo.png);
  background-position: center;
  background-size: cover;
  background-blend-mode: screen;
  background-color: rgb(0 0 100);
}

